* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
}
body {
    min-height: 100vh;
    padding: 0.1px;
}
.slider-container {
    border: 3px solid red;
    height: 400px;
    margin: 200px auto 0;
    width: 100%;
}
.slider-frame {
    border: 3px solid #000;
    height: 100%;
    margin: 0 auto;
    width: 800px;
}
