* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    min-height: 100vh;
    padding: 0.1px; /* Prevent margin collapsing */
}

.slider-container {
    border: 3px solid red;
    width: 100%;
    height: 400px;
    margin: 0 auto;
    margin-top: 200px;
}

.slider-frame {
    border: 3px solid black;
    width: 800px;
    height: 100%;
    margin: 0 auto;
}